<div class="jumbotron center">
    <h1>Welcome to myRecipes app</h1>
    <h2>
        this App does nothing! Nothing at all.
    </h2>
    
    <%= link_to "So Signup!", "", class:"btn btn-lg btn-success" %>
</div>
<div class="row">
    <div class="col-lg-4">
        <h3 class="midrow">
            View Recepies as Guest
        </h3>
        <h2 class="left">
            Browse and view recepies as a guest and sign up later.
        </h2>
        <p><%= link_to "Browse Recipe Listings", "",class:"btn btn-warning btn-small" %></p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow">
            View Recepies as Guest
        </h3>
        <h2 class="left">
            Browse and view recepies as a guest and sign up later.
        </h2>
        <p><%= link_to "Browse Recipe Listings", "",class:"btn btn-warning btn-small" %></p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow">
            View Recepies as Guest
        </h3>
        <h2 class="left">
            Browse and view recepies as a guest and sign up later.
        </h2>
        <p><%= link_to "Browse Recipe Listings", "",class:"btn btn-warning btn-small" %></p>
    </div>
</div>